<div class="product-detail-container">
    <div *ngIf="product">
        <div class="container">
            <div class="left-side">
                <img class="product-detail-photo" src="{{product.photo}}" />
            </div>
            <div class="right-side">
                <div class="basic-info">
                    <h2>{{ product.name }}</h2>
                    <a routerLink="/suppliers/{{supplier.id}}"><span class="supplier-span">{{supplier.name}}</span></a>
                    <span class="price">${{ product.price }}</span>
                </div>
    
                <form [formGroup]="qntForm" (ngSubmit)="addToCart(product, qntForm.value.quantity)">
                    <div class="add-form">
                            <div class="form-field">
                                <input type="number" placeholder="Quantity" formControlName="quantity" >
                               
                                <span *ngIf="quantity?.invalid" class="form-error">Wrong quantity</span>
                            </div>
                            <div class="form-field">
                                <input [disabled]="qntForm.invalid" class="btn" type="submit" value="Add to Cart"/>
                            </div>
                    </div>
                </form>
    
            </div>
        </div>
        <div class="description">
            <h3>Description:</h3>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>